{% load static %}
<table id="table2" class="table table-bordered table-striped" cellspacing="10" style="width:100%">
	<tbody>
	  {% for i in garantie_branche_list %}
	    <tr>
	      <td><input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ i.id }}" value="{{ i.id }}" onclick="supprimer({{ i.id }})"></td>
	    <span><td>{{ i.garantie.libelle }}</td></span>
	    </tr>  
	  {% endfor %}
	</tbody> 
</table>

<table id="table1" class="table table-bordered table-striped" cellspacing="10" style="width:100%">
	<tbody>
	</tbody> 
</table>

<script src="{% static 'js/jquery-3.5.1.js' %}"></script>

<script type="text/javascript">
  function supprimer(cpte){
	  var garantie_branche_id = parseInt(cpte);
	  var branche_id = parseInt($('#id_branche_combo').val());
	  var url = "{% url 'parametre:supprimer_garantie' %}";
	  $.ajax({
	      url: url,
	      data: {'garantie_branche_id': garantie_branche_id, 'branche_id':branche_id },
	      success: function (data) {
	       $("#table2").html(data);
		} 
	  });

    var url = "{% url 'parametre:miseajour_garantie' %}";
    $.ajax({
        url: url,
        data: {'branche_id':branche_id },
        success: function (data) {
         $("#table1").html(data);
      } 
    });
}
</script>